<div class="login-screen">
    <div class="container d-flex align-items-center justify-content-center">
      <div class="text-center text ">
        <img src="./assets/images/choiceboard-logo.png" class="logo" alt="">
        <h3 class="page-heading ">Forgot your Password</h3>
        <div class="input-field">
          <form>
            <div class="form-group">
              <input type="email" placeholder="Email" class="form-control text-center  mx-auto">
            </div>
            <div class="form-group mt-2">
              <button type="button" class="add-btn" routerLink="/dashboard">Submit</button>
  
            </div>
            <div class="forgot-password text-center mt-4"  routerLink="/auth/login"> Login</div>
          </form>
        </div>
      </div>
    </div>
  </div>