<div class="">
<div class="">
    <div class="d-flex justify-content-center pt-4">
        <h1 class="head" >Admin Dashboard</h1>
    </div>
    <br>
        <div class="row pl-4 pr-4">
            <div class="col-3">
              <div class="card ">
                <div class="card-body">
                  <div class="icon-body">                
                  <img src="./assets/images/user2.png" alt="" class="icon-size"> </div>
                  <h6 class="card-heading">121</h6>
                  <h6 class="card-title">Number of Users</h6>
                </div>
              </div>
            </div>
            <div class="col-3" >
              <div class="card">
                <div class="card-body">
                  <div class="icon-body">  <img src="./assets/images/object.png" alt="" class="icon-size"> </div>
                  <h6 class="card-heading">65</h6>            
                  <h6 class="card-title">Number of Objects</h6>
                </div>
              </div>
          </div>
            <div class="col-3" >
              <div class="card">
                <div class="card-body">
                  <div class="icon-body">                <img src="./assets/images/processor.png" alt="" class="icon-size"> </div>
                  <h6 class="card-heading">36</h6>
                  <h6 class="card-title">Number of Business Component</h6>
                </div>
              </div>
          </div>              
          <div class="col-3">
            <div class="card">
              <div class="card-body">
                <div class="icon-body">                <img src="./assets/images/team.png" alt="" class="icon-size"> </div>
                <h6 class="card-heading">12</h6>
                <h6 class="card-title">Number of Business Component Relationship</h6>
               </div>
            </div>
          </div>      
</div>
          <br>
          </div>
</div>