<div class="add-wrapper h-100">
    <div class="add-header d-flex justify-content-between">
        <h2 class="heading align-self-center">Quiz/Questions</h2>
        <button type="button" class="btn btn-primary btn-sm" [routerLink]="['../add']"><span
                class="mx-2 plus-icon">+</span>ADD
            QUIZ</button>
    </div>
    <!-- <div class="search-group d-flex  justify-content-end">
            <input type="text" class="btn btn-filter" placeholder="Search">
            <span class="search-icon"><img src="./assets/images/search.svg" class="icon-size"> </span>                
        </div> -->

    <app-manage-quizes-list></app-manage-quizes-list>

</div>