@import'../../../../../../../assets/styles/common.scss';
.form-arrow-icon{
    right: 21px;
    height: 33px;
    width: 17px;
    }
    .userModel{
        cursor: pointer;
    }
    
    .custom-check-box{
        .control__indicator{
            border-radius: 50%;
        }
    }