@import'../../../../../../../assets/styles/common.scss';

.form-arrow-icon {
    right: 2px;
    height: 33px;
    width: 17px;
}

.invalid-input-error{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.contextContent {
    height: 300px !important;
    overflow-x: hidden;
}

.close {
    position: absolute;
    right: 15px;
    top: 12px;
}
.heading{
    
    
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
.modal-body{
    padding: 2rem;
}