@import '../../../../../../../assets/styles/common.scss';

.form-icon { 
    .form-arrow-icon{
    position: absolute;
    right: 4px;
    top: 0px;
    background: #FFFFFF;
    height: 36px;
    width: 19px;
    display: flex;
    pointer-events: none;

}}
.form-icon { 
    .form-arrow-icon1{
    position: absolute;
    right: 9px;
    top: 0px;
    background: #FFFFFF;
    height: 36px;
    width: 19px;
    display: flex;
    pointer-events: none;

}}