@import'../../../../../../../assets/styles/common.scss';
// .custome-check-box .control input:checked ~ .control__indicator {
//     background: $primaryOrange;
//     border: 1px solid $primaryOrange;
// }
.form-arrow-icon{
    right: 16px;
    top: 3px;
    height: 29px;
    width: 20px;
}