<div class="add-wrapper">
    <div class="add-header d-flex justify-content-between">
        <h2 class="heading align-self-center">Edit Licence Type</h2>
        <button type="button" class="btn btn-primary btn-sm" routerLink="/administration/licence/add"><span
                class="mx-2 plus-icon">+</span>CREATE NEW LICENCE</button>
    </div>

    <div class="form-group d-flex">
        <div class="col-lg-5 d-flex justify-content-between col-sm-6 pl-0 licence-dropdown mt-4">
            <div class="licence-type">Select Licence Type </div>
            <div class="divider align-self-center">|</div>
            <select id="inputState" class="form-control licence-select">
                <option selected>Paid Customer</option>

            </select>
            <div class="form-arrow-icon">
                <img src="./assets/images/arrow-right1.svg" class="arrow-down" alt="">
            </div>
        </div>
    </div>
    <div class="d-flex mt-4 justify-content-between">
        <h6 class="subtitle align-self-center">Licence Parameters for Paid customer</h6>
        <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-white mr-4">Back</button>
            <button type="button" class="btn btn-white">Save</button>
        </div>
    </div>

    <div class="d-flex flex-wrap mt-2 justify-content-between">
        <div>
            <div class="parameter-title">No of Users</div>
            <input class="parameter-subtitle parameter-subtitle--color">
        </div>
        <div>
            <div class="parameter-title">Minimum renewal users</div>
            <input class="parameter-subtitle parameter-subtitle--color">
        </div>
        <div>
            <div class="parameter-title">Select period in months</div>

            <div class="col-12 align-self-end mt-3">
                <select id="inputState" class="form-control w-100 select-style">
                    <option selected>Select period in month</option>
                </select>
                <div class="form-arrow-icon">
                    <img src="./assets/images/arrow-right1.svg" class="arrow-down" alt="">
                </div>
            </div>
        </div>
        <div>
            <div class="input-group d-flex flex-column">
                <div class="parameter-title">Price per user per month</div>
                <div class="d-flex">
                    <div class="input-group-prepend input-position">
                        <span class="rs-symbol">₹</span>
                        <span class="divider2"></span>
                    </div>
                    <input class="parameter-subtitle price">
                </div>

            </div>
        </div>
    </div>
    <app-licence-table></app-licence-table>
</div>