<div class="delete-modal">
  <h4 class="delete-title">Delete Confirmation</h4>
  <button type="button" class="close" aria-label="Close" (click)="onSelect('close')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="delete-body">
  <p class="delete-title">Are you sure you want to delete ? </p>

  <div class="d-flex justify-content-left button">
    <div class="back marr-10 marl-10">

      <button type="button" (click)="dismissModal(false)" class="btn btn-dark btn-md ">CANCEL</button>
    </div>
    <div class="add marr-10 marl-10">
      <button type="button" class="btn btn-danger btn-md " (click)="dismissModal(true)">DELETE </button>
    </div>
  </div>
</div>