<div class="add-wrapper  mb-2">
    <div class="add-header d-flex justify-content-between">
        <h2 class="heading align-self-center">Modules</h2>
        <button class="btn btn-primary btn-sm " [routerLink]="['../add']"><span class="mx-2 plus-icon">+</span>ADD
            MODULES</button>
    </div>
    <div class="d-flex justify-content-end align-items-right mt-2">
        <div class="filter d-flex align-items-center mx-2">
            <input type="text" id="Search" name="moduleName" [(ngModel)]="moduleName" class="form-control"
                placeholder="Search here" (keyup.enter)="searchModule()">
            <img src="assets/images/search.svg" (click)="searchModule()">
        </div>
        <button class="btn btn-secondary btn-md" (click)="clearSearch()">Clear</button>
    </div>
    <div class="w-100 py-3" style="height: calc(100% - 200px)">

        <ag-grid-angular style="height: 362px;" #moduleList class="ag-theme-alpine" [gridOptions]="gridOptions"
            pagination=true [columnDefs]="columnDefs" [frameworkComponents]="frameworkComponents"
            rowSelection='multiple' (gridReady)="onGridReady($event)">
        </ag-grid-angular>

    </div>
</div>
<div>