<div class="add-wrapper h-100 mb-2">
  <div class="add-header d-flex justify-content-between">
    <h2 class="heading align-self-center">Context Relationship</h2>
    <button class="btn btn-primary btn-sm" [routerLink]="['../add']">
      <span class="mx-2 plus-icon">+</span>ADD CONTEXT RELATIONSHIP
    </button>
  </div>
  <div class="d-flex justify-content-end align-items-right mb-2 mt-2">
    <div class="filter d-flex align-items-center mx-2">
      <input
        type="search"
        id="Search"
        name="moduleName"
        class="form-control"
        placeholder="Search here"
        [(ngModel)]="searchText"
        (keyup.enter)="setDataForSearchContext()"
      />
      <img src="assets/images/search.svg" (click)="setDataForSearchContext()"/>
    </div>
    <button class="btn btn-secondary btn-md" (click)="resetSearch()">Clear</button>
  </div>
  <!-- add ag-grid tables  -->

  <div class="w-100 py-3" style="height: calc(100% - 200px)">
    <ag-grid-angular
      style="width: 100%; height: 100%"
      class="ag-theme-alpine"
      [rowData]="rowData"
      [gridOptions]="gridOptions"
      [columnDefs]="columnDefs"
      [frameworkComponents]="frameworkComponents"
      rowSelection="multiple"
      (gridReady)="onGridReady($event)"
    >
    </ag-grid-angular>
  </div>
</div>
