.svg-container {
  width: 100%;
  height: calc(100vh - 100px);
}

::ng-deep rect {
  fill: white;
  stroke: orange;

  padding: 13px;
  width: 250px;
  stroke-opacity: 0.5;
  height: 70px;
  stroke-width: 2;

  cursor: pointer;
}

::ng-deep .rectBC {
  fill: white;
  stroke: green;

  padding: 13px;
  width: 250px;

  height: 70px;
  stroke-width: 2;

  cursor: pointer;
}

::ng-deep path {
  fill: none;
  stroke: silver;
}

::ng-deep text {
  dominant-baseline: hanging;
  text-anchor: middle;
  cursor: pointer;

  fill: black;
}

::ng-deep .bigger {
  font-size: 20px;
  padding: 20px;
  dominant-baseline: hanging;
}

.foo {
  border-right: black !important;
}
