<div class="add-wrapper">
    <div class="add-header d-flex justify-content-between">
        <h2 class="heading align-self-center">Add Business Component Relationship </h2>
        <div class="back marr-10 marl-10">
            <button type="button" class="btn btn-dark btn-md "
                routerLink="/manage/business-component-relationship">BACK</button>
        </div>
    </div>
    <div class="add-form  row">
        <app-add-relationship-table-form class="col-7 px-0"></app-add-relationship-table-form>
        <div class="upload col-5">
            <app-file-upload></app-file-upload>
        </div>
    </div>
</div>