@import '../../../../../../../assets/styles/common.scss';

.obj-name {
  padding: 11px 15px;
}
.url-input {
  width: 96%;
}

.form-dropdown {
  position: relative;
}
.direction {
  flex-direction: column;
}

.icon-position {
  // top:12px;
}
.upload-btn-wrapper {
  top: 12px;
}

.uploaded {
  justify-content: space-between;
}

.form-arrow-icon {
  position: absolute;
  right: 12px !important;
  top: 0px;
  background: #ffffff;
  height: 36px;
  width: 16px !important;
  display: flex;
  pointer-events: none;
}

.crossIcon {
  margin: auto;
  color: #707070;
  padding: 12px;
  font-weight: 600;
  cursor: pointer;
}