<div class="add-wrapper">
  <div class="add-header d-flex justify-content-between">
    <h2 class="heading align-self-center">{{mode | capitalize}} Business Component</h2>
    <div class="back marr-10 marl-10">
      <button type="button" class="btn btn-dark btn-md" (click)="onBack()">BACK</button>
    </div>
  </div>

  <div class="add-form row">
    <div class="form-wrapper col">
      <form #businessForm="ngForm" novalidate>
        <div>
          <div class="form-group  pl-0">
            <h6>Business Component Name*</h6>
            <input type="text" class="form-control " placeholder="Business Component Name" name="business_ComponentName"
              #business_ComponentName="ngModel" [(ngModel)]="businessComponentName"
              [ngClass]="{ 'is-invalid': businessForm.submitted && business_ComponentName.invalid }" required>
            <div *ngIf="businessForm.submitted && business_ComponentName.invalid" class="invalid-feedback">
              <div *ngIf="business_ComponentName.errors.required">Modules Name is required</div>
            </div>
          </div>

        </div>
        <div class="form-group ">
          <h6>Description*</h6>
          <textarea class="form-control" cols="3" rows="2" placeholder="Enter Description"
            [ngClass]="{ 'is-invalid': businessForm.submitted && business_ComponentDescription.invalid }" required
            name="business_ComponentDescription" #business_ComponentDescription="ngModel"
            [(ngModel)]="businessComponentDescription"></textarea>
          <div *ngIf="businessForm.submitted && business_ComponentDescription.invalid" class="invalid-feedback">
            <div *ngIf="business_ComponentDescription.errors.required">Description is required</div>
          </div>
        </div>
        <div class="d-flex uploaded">
          <div class="col-10 form-group pl-0">
            <h6>Upload Icon*</h6>
            <div class="d-flex align-items-end justify-content-between">
              <div>
                <div class="upload-btn-wrapper">
                  <div>
                    <img src="./assets/images/ico-file-format.svg"> </div>
                  <button class="btn btn-upload_icon ellipse">{{uploadedIcon}}</button>
                  <div class="upload-doc">
                    <img src="./assets/images/upload-arrow.png" alt="" class="upload-icon">
                  </div>
                  <input type="file" name="myFile" class="file" (change)="fileUpload($event)" />
                </div>
                <small class="">* Less than “2” MB, format (SVG, PNG etc)</small>
              </div>
              <div *ngIf="imageSource && imageAdd" class="ml-2 d-flex">
                <img [src]="imageSource" alt="Image Source" width="60" height="60">
                <div class="crossIcon" (click)="removeIcon(0, 'add')">X</div>
              </div>
              <div *ngIf="imageEditSource && imageEdit" class="d-flex">
                <img [src]="imageEditSource" alt="Image Source" width="60" height="60">
                <div class="crossIcon" (click)="removeIcon(0, 'edit')">X</div>
              </div>
            </div>
          </div>
        </div>
        <app-upload [links]="links"></app-upload>

        <div class="d-flex justify-content-start">

          <div class="add marr-10 marl-10">
            <button type="submit" class="btn btn-success btn-md "
              (click)="createBusinessComponentPayload(businessForm)">Save</button>
          </div>
        </div>
      </form>
    </div>
    <div class="upload col-5">
      <app-file-upload></app-file-upload>
    </div>
  </div>

</div>