@import'../../../../../assets/styles/common.scss';

.linkedin-btn {
  font-size: $tertiaryFontSize;
  background: $linkedinBtn;
  border-radius: 8px;
  color: $primaryWhite;
}

.twitter-btn {
  font-size: $tertiaryFontSize;
  background: $twitterBtn;
  border-radius: 8px;
  color: $primaryWhite;
}

.separation-line {
  width: 120px;
  height: 1px;
  background: $primaryBlack;
  margin: 0 8px;
}

.separation-text {
  font-size: $tinyFontSize;
}

// .userInput {
//   border-radius: 10px;
//   height: 44px;
//   box-shadow: $primaryBoxShadow;
//   border: $inputBorder;
// }
.forgot-password {
  font-size: 16px;
  color: $primaryMidnightBlue;
  font-weight: 600;

  outline: none;

  cursor: pointer;

  a {
    color: $primaryMidnightBlue;
  }
}

.page-heading {
  color: $primaryMidnightBlue;
  font-size: 16px;
  padding-top: 20px
}

.container {
  margin: 0 auto;
  width: 400px;
  position: absolute;
  left: 0px;
  right: 0px;
  margin-top: 100px;
  padding: 20px;
  border: 1px solid #0000000d;
  background: white;
  z-index: 9;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
}

.fomr-control {
  border: 1px solid #0000001c;
  border-radius: 0px !important;
}

.add-btn {
  padding: 10px;
  width: 100%;
  border-radius: 0px;
}

.login-screen {
  position: fixed;
  padding-top: 12vh;
  width: 100%;
  left: 0px;
  background: white;
  display: block;
  user-select: none;
  z-index: 9;
  height: 100%;
  top: 0;
}

.logo {
  width: 150px;
}

.input-field {
  margin-top: 4vh;
}

.text {
  width: 90%;
}
