.delete-modal {
    background-color: #f4f4fa;
    border-bottom: none;

    border-bottom: none;
}

.delete-title {
    color: black;
}

.delete-body {
    padding: 20px;
    background: white;
    border-bottom: none;
}

.close {
    margin-top: -30px;
}