<div class="add-wrapper">
    <div class="add-header d-flex justify-content-between">
        <h2 class="heading align-self-center">Create Case Study</h2> 
        <!-- <button type="button" class="btn btn-add" [routerLink]="['/case-study-list']"><span class="mx-2 plus-icon">+</span>ADD CASE STUDY</button>  -->
    </div>
    <div class="add-form row">
        <app-case-study-info class="col-7"></app-case-study-info>
        <!-- <app-case-study-challenge class="col-7"></app-case-study-challenge> -->
        <!-- <app-case-study-assessment-rating class="col-7"></app-case-study-assessment-rating> -->
    </div>
    <div class="col-7 d-flex justify-content-center mt-3 px-0 button" >
        <button type="button" class="btn back-btn mx-3" routerLink="../list" >Back</button>
        <button type="button" class="btn btn-next" routerLink="../list">Save</button>
    </div>

   


