<div class="form-wrapper">
    <form class="form">
        <div class="form-group mb-3 d-flex">

            <div class="form-icon col-4">
                <h6>Select Hierarchy*</h6>
                <ejs-listbox [dataSource]="hierarchyData" (change)="onChange($event,'column1')" [fields]="setField"
                    height="330px" [toolbarSettings]="toolbar" scope="#listbox" #listbox1></ejs-listbox>
            </div>
            <div class="form-icon col-4" *ngIf="showColumn2">
                <h6>Select Module*</h6>
                <ejs-listbox [dataSource]="selectModuleData" (change)="onChange($event,'column2')" [fields]="setField"
                    height="330px" [toolbarSettings]="toolbar" scope="#listbox" #listbox1></ejs-listbox>
            </div>
            <div class="form-icon col-5" *ngIf="showColumn3">
                <h6>Select Business Component </h6>
                <ejs-listbox [dataSource]="businessComponentData" (change)="onChange($event,'column3')"
                    [fields]="setField" height="330px" [toolbarSettings]="toolbar" scope="#listbox" #listbox1>
                </ejs-listbox>
            </div>
        </div>


        <div class="form-group mb-3 d-flex">
            <div class="form-icon col-4">
                <h6>Select Hierarchy *</h6>
                <ejs-listbox [dataSource]="hierarchyData" (change)="onChange($event,'column4')" [fields]="setField"
                    height="330px" [toolbarSettings]="toolbar" scope="#listbox" #listbox1></ejs-listbox>
            </div>
            <div class="form-icon col-4" *ngIf="showColumn4">
                <h6>Select Module*</h6>
                <ejs-listbox [dataSource]="selectModuleRow2Data" (change)="onChange($event,'column5')"
                    [fields]="setField" height="330px" [toolbarSettings]="toolbar" scope="#listbox" #listbox1>
                </ejs-listbox>
            </div>
            <div class="form-icon col-5" *ngIf="showColumn5">
                <h6>Select Business Component *</h6>
                <ejs-listbox [dataSource]="businessComponentRow2Data" (change)="onChange($event,'column6')"
                    [fields]="setField" height="330px" [toolbarSettings]="toolbar" scope="#listbox" #listbox1>
                </ejs-listbox>
            </div>
        </div>


        <div class="form-group form-icon col-10">
            <h6> Select Relation Type*</h6>
            <select class="form-control" (change)="getRelationData($event)">
                <option [value]=" " selected>--Select--</option>
                <option *ngFor="let type of relationTypeData, let i = index" [value]="type?.relationTypeId">
                    {{type.name}}</option>
            </select>

            <div class="form-arrow-icon1">
                <img src="./assets/images/arrow-right1.svg" class="arrow-down" alt="">
            </div>
        </div>
        <div class="form-group col-12">
            <h6>Description</h6>
            <textarea class="form-control" cols="3" rows="2" name="description" [(ngModel)]="relationDescription"
                placeholder="Enter Description "></textarea>

        </div>
        <div class="d-flex justify-content-start button">
            <div class="add marr-10 marl-10">
                <button type="button" class="btn btn-success btn-md" (click)="onSave()">Save</button>
            </div>
        </div>
    </form>
</div>