<div class="add-wrapper h-100">
    <div class="add-header d-flex justify-content-between">
        <h2 class="heading align-self-center">Case Study</h2>
        <button type="button" class="btn btn-primary btn-sm " [routerLink]="['../add']"><span
                class="mx-2 plus-icon">+</span>ADD CASE STUDY</button>
    </div>

    <div class="w-100" style="height: calc(100% - 200px)">
        <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-alpine" [rowData]="rowData" pagination=true
            rowSelection='multiple'>
            <!-- [icons]="icons" -->
        </ag-grid-angular>
    </div>
</div>